extends ../layouts/default

block intro
	.container-fluid.post-header
		h1 Projects

block content
	.container.project-content
		.project-container
			a(href='https://github.com/bhefty/reactive-voting', target='_blank' rel='noopener')
				img(src='https://res.cloudinary.com/bhefty/image/upload/v1492310086/portfolio/projects/react-voting.jpg', alt='React Voting App')
			h2: a(href='https://github.com/bhefty/reactive-voting', target='_blank' rel='noopener') React Voting
			p.lead
				| A voting app built with MongoDB, Express, React, and Node. Complete with user authentication!

		.project-container
			a(href='https://agile-island-30911.herokuapp.com/', target='_blank' rel='noopener')
				img(src='https://res.cloudinary.com/bhefty/image/upload/v1492310933/portfolio/projects/recipe-box.jpg', alt='Recipe Box App')
			h2: a(href='https://agile-island-30911.herokuapp.com/', target='_blank' rel='noopener') Recipe Box
			p.lead
				| A digital recipe box built with React that utilizes the browser's local storage to save state. Part of a FreeCodeCamp project.

		.project-container
			a(href='https://github.com/bhefty/project_what_have_you_done', target='_blank' rel='noopener')
				img(src='https://res.cloudinary.com/bhefty/image/upload/v1492311875/portfolio/projects/find-my-rep.jpg', alt='Find My Rep App')
			h2: a(href='https://github.com/bhefty/project_what_have_you_done', target='_blank' rel='noopener') Find-My-Rep
			p.lead
				| This project centered around the Sunlight Foundation API to retrieve information for your local congressmen and women.

		