extends ../layouts/default

block intro
	.container-fluid.post-header
		h1 Projects

block content
	.container.project-content
		.project-container
				a(href='https://github.com/bhefty/nightlife-app', target='_blank' rel='noopener')
					img(src='https://res.cloudinary.com/bhefty/image/upload/v1495237575/portfolio/projects/nightlife-activity.jpg', alt='Nightlife Activity App')
				h2: a(href='https://github.com/bhefty/nightlife-app', target='_blank' rel='noopener') Nightlife Activity
				p.lead
					| View local bars and hangouts in your area and see how many other people are also going! Sign up for an account to flag a location that you will be attending. Based on tye Yelp API.

		.project-container
			a(href='https://github.com/bhefty/reactive-voting', target='_blank' rel='noopener')
				img(src='https://res.cloudinary.com/bhefty/image/upload/v1492310086/portfolio/projects/react-voting.jpg', alt='React Voting App')
			h2: a(href='https://github.com/bhefty/reactive-voting', target='_blank' rel='noopener') React Voting
			p.lead
				| A voting app built with MongoDB, Express, React, and Node. Complete with user authentication!

		.project-container
			a(href='https://agile-island-30911.herokuapp.com/', target='_blank' rel='noopener')
				img(src='https://res.cloudinary.com/bhefty/image/upload/v1492310933/portfolio/projects/recipe-box.jpg', alt='Recipe Box App')
			h2: a(href='https://agile-island-30911.herokuapp.com/', target='_blank' rel='noopener') Recipe Box
			p.lead
				| A digital recipe box built with React that utilizes the browser's local storage to save state. Part of a FreeCodeCamp project.

		.project-container
			a(href='https://github.com/bhefty/project_what_have_you_done', target='_blank' rel='noopener')
				img(src='https://res.cloudinary.com/bhefty/image/upload/v1492311875/portfolio/projects/find-my-rep.jpg', alt='Find My Rep App')
			h2: a(href='https://github.com/bhefty/project_what_have_you_done', target='_blank' rel='noopener') Find-My-Rep
			p.lead
				| This project centered around the Sunlight Foundation API to retrieve information for your local congressmen and women.

		
		.project-container
			a(href='http://codepen.io/bhefty/full/MbawLa/', target='_blank' rel='noopener')
				img(src='https://res.cloudinary.com/bhefty/image/upload/v1492314338/portfolio/projects/markdown-previewer.jpg', alt='Markdown Previewer App')
			h2: a(href='http://codepen.io/bhefty/full/MbawLa/', target='_blank' rel='noopener') Markdown Previewer
			p.lead
				| This app was created using ReactJS to showcase the benefits of the Virtual DOM. Enter your markdown text on the left and see it instantly compiled on the right.

		
		.project-container
			a(href='https://github.com/bhefty/assignment_githuh', target='_blank' rel='noopener')
				img(src='https://res.cloudinary.com/bhefty/image/upload/v1492315913/portfolio/projects/githuh.jpg', alt='Githuh App')
			h2: a(href='https://github.com/bhefty/assignment_githuh', target='_blank' rel='noopener') Githuh?
			p.lead
				| CLI for retreiving information on Github user accounts. Part of the Viking Code School projects.

		
		.project-container
			a(href='https://bhefty.github.io/simon-says/', target='_blank' rel='noopener')
				img(src='https://res.cloudinary.com/bhefty/image/upload/v1492315913/portfolio/projects/simon-says.jpg', alt='Simon Says Game App')
			h2: a(href='https://bhefty.github.io/simon-says/', target='_blank' rel='noopener') Simon Says Game
			p.lead
				| The classic game revisioned for web! Try to get all the way to round 20 to win. Make it a challenge by enabling 'Strict' mode. Complete with sounds and flashing lights.

		